debug = false

[grpc_server]
host = "0.0.0.0"
port = 50053

[postgres]
host = "localhost"
port = 5434
username = "postgres"
password = "postgres"
database = "ranking_service"
should_log_sql = false
pool_size = 10
pool_max_overflow = 20

[postgres_replica]
host = "localhost"
port = 5434
username = "postgres"
password = "postgres"
database = "ranking_service"

[profile_postgres]
host = "localhost"
port = 5433
username = "postgres"
password = "postgres"
database = "profile_service"

[valkey]
host = "localhost"
port = 6379
db_rankings = 1

[profile_service]
host = "localhost"
port = 50052

[rabbitmq]
host = "localhost"
port = 5672
username = "guest"
password = "guest"
vhost = "/"
